---
import Layout from "../layouts/Layout.astro";
import CarouselHome from "../components/carouselHome.astro";
---

<Layout title="Pizzería Artea">
  <p class="text-9xl"></p>
  <CarouselHome />
  <section class="text-gray-50 bg-verdea bg-[url('/autumn.svg')] py-16">
    <div class="container mx-auto px-4 text-center">
      <!-- Título de la sección -->
      <h2 class="text-3xl font-bold mb-4">Nuestros Servicios</h2>
      <p class="text-gray-200 mb-12">
        Ven a probar la mejor pizzería de Zarautz
      </p>

      <!-- Servicios -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Servicio 1 -->
        <div class="flex flex-col items-center">
          <img
            src="/food-svgrepo-com.svg"
            alt="Healthy Foods"
            class="text-white h-16 w-16 mx-auto mb-4"
          />

          <h3 class="text-xl font-bold mt-4">Masa Madre</h3>
          <p class="text-gray-200 mt-2">
            Nuestras pizzas son elaboradas con masa madre libre de transgénicos.
          </p>
        </div>

        <!-- Servicio 2 -->
        <div class="flex flex-col items-center">
          <img
            src="/delivery-motorbike-svgrepo-com.svg"
            alt="Fastest Delivery"
            class="h-16 w-16 mx-auto mb-4"
          />

          <h3 class="text-xl font-bold mt-4">Reparto a Domicilio</h3>
          <p class="text-gray-200 mt-2">
            Repartimos por la población de Zarautz, llámanos al <a
              class="text-white text-xl hover:text-blue-700"
              href="tel:943 01 66 93">943 01 66 93</a
            >
          </p>
        </div>

        <!-- Servicio 3 -->
        <div class="flex flex-col items-center">
          <img
            src="/pizza-svgrepo-com.svg"
            alt="Original Recipes"
            class="h-16 w-16 mx-auto mb-4"
          />

          <h3 class="text-xl font-bold mt-4">Pizzas Caseras</h3>
          <p class="text-gray-200 mt-2">
            Gran variedad de Pizzas Caseras de masa fina, puedes veras desde
            nuestra <a class="text-white hover:text-blue-700" href="/menu"
              >carta</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
